body {
  background-color: #5F026F;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  overflow: hidden;
}

h1.title {
  text-align: center;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
}

div.search-wrapper {
  display: block;
  text-align: center;
}

.search-form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

input {
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  border-radius: 5px;
  background: #fff;
  color: black;
}

input[type=submit] {
  width: auto;
  padding: 5px 18px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background: #FFC107;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

}
.nav-bar {
  background-color: #740588;
  position: relative;
  width: auto;
  margin: 0 auto;
  margin-bottom: 4em;
}

.nav-bar h1 {
  margin: 0;
  font-size: 40px;
  color: #fec108;
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  display: block;
}

nav ul li {
  color: white;
  display: inline;
  float: right;
  padding: 3px 15px;
}

nav ul li a {
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #fec108;
}

.signup {
  margin: 5px auto;
  width: 265px;
  color: #fff;
}

.signup input{
  margin: auto;
  display: block;
}

.login {
  text-align: center;
  color: #fff;
}

/*Add media query for phones that changes search button to be under bar and
reduces the size of the search to be like 60% of the screen?*/
