body {
  background-color: #5F026F;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  overflow: hidden;
}

h1.title {
  text-align: center;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
}

div.search-wrapper {
  display: block;
  text-align: center;
}

.search-form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

input {
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 265px;
  border-radius: 5px;
  background: #fff;
  color: black;
}

input#search {
  width: 20em;
}

textarea {
  min-width: 25em;
}

input[type=submit] {
  width: auto;
  padding: 5px 18px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background: #FFC107;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

input[type=submit]:hover {
  background:#fff;
  color:#000;
  transition: background .5s;
}

a {
  text-decoration: none;
  color: inherit;
}
a.home-redirect {
  display: block;
  border: 2px solid #fff;
}
a.home-redirect:hover {
  color:#fff
}

.nav-bar {
  background-color: #740588;
  position: relative;
  width: auto;
  margin: 0 auto;
  margin-bottom: 2em;
}

.nav-bar h1 {
  margin: 0;
  padding-top: 0.5em;
  font-size: 40px;
  color: #fec108;
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0.25em 0;
  display: block;
}

nav ul li {
  color: white;
  display: inline;
  float: right;
  padding: 3px 15px;
}

nav ul li a {
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #fec108;
  transition: color .75s;
}

.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #740588;
  height: 3em;
}

.footer-info {
  list-style: none;
  display: inline-block;
  float: right;
  color: white;
  padding: 0 15px;
}

.signup {
  margin: 5px auto;
  width: 265px;
  color: #fff;
}

.signup input{
  margin: auto;
  display: block;
}

.input-idea input[type=submit] {
  margin: 10px auto 10px auto;
}

.login {
  text-align: center;
  color: #fff;
}

article.result-item {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  margin: 10px;
}

/*Add media query for phones that changes search button to be under bar and
reduces the size of the search to be like 60% of the screen?*/

@media screen and (max-width: 480px){
  input {
    font-size: 16px;
    padding: 7px;
    outline: 0;
    border: 0;
    width: 15em;
    border-radius: 5px;
    background: #fff;
    color: black;
  }

  input[type=submit] {
    width: auto;
    padding: 5px 18px;
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
    background: #FFC107;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    display: block;
    margin: 1em auto;
  }
}
